body, html {
    height: 100%;
    margin: 0;
}

.quilt-piece {
    box-sizing: border-box;
    width: 20%;
    height: 150px;
    display: inline-block;
    border: 2px solid #333;
}

.quilt-piece:nth-child(odd) {
    background-color: #ffcccb;
}

.quilt-piece:nth-child(even) {
    background-color: #add8e6;
}

.quilt-piece:nth-child(3n + 1) {
    background-color: #98fb98;
}

.quilt-piece:nth-child(3n + 2) {
    background-color: #ffc0cb;
}

.quilt-piece:nth-child(3n + 3) {
    background-color: #dda0dd;
}
